.btn-solid-main {
    padding-inline: 30px;
    padding-block: 12px;
    border-radius: 9px;
    color: var(--text-white-color);
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    font-size: 18px;
    background: linear-gradient(91.38deg, #5456ED -106%, #40BAFF 99.24%);
}




.btn-solid-main:hover,
.btn-solid-main:focus,
.btn-solid-main:focus-visible {
    transform: scale(1.05);
    border-color: var(--border-grey-hover-color);
}


.btn-outline-main {
    min-width: 7rem;
    color: var(--grey-700);
    background-color: var(--text-white-color);
    border: none;
    box-shadow: 0px 2px 3px 3px #18181881;
    border-radius: var(--main-border-radius-shape);
    padding: .625rem 1.25rem;
    font-size: 1rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.btn-outline-main:hover,
.btn-outline-main:focus,
.btn-outline-main:focus-visible {
    color: var(--text-main-color);
    background-color: var(--text-white-color);
    box-shadow: 0px 0px 25px -3px var(--bg-main-color);
    font-weight: bold;
}

