.text-main-color {
  color: var(--text-main-color) !important;
}

.bg-main-color {
  background: var(--bg-main-color) !important;
}

.bg-light-blue {
  background: var(--bg-light-blue) !important;
}

.text-gray-color {
  color: var(--text-gray-color) !important;
}

.text-grey-100 {
  color: var(--grey-100) !important;
}

.text-green-color {
  color: var(--text-green-color);
}

.text-dark-color {
  color: var(--text-dark-color) !important;
}

.bg-dark-color {
  background-color: var(--bg-dark-color);
}

.border-main-color {
  border-color: var(--text-main-color) !important;
}

.text-white-color {
  color: var(--text-white-color) !important;
}

.bg-white-color {
  background-color: var(--bg-white-color);
}

.bg-grey-100 {
  background-color: var(--grey-100);
}