/* <!-- ==================START NAVBAR============================ --> */
#navbar {
    z-index: 1000;
    height: 120px;
    font-family: Cairo;
}

#navbar .nav-link {
    text-align: left;
}

#navbar .nav-link,
#sidebar .nav-link {
    font-size: 17px;
    font-weight: 600;
    color: var(--text-main-color);
}

#sidebar .offcanvas {
    margin: .5rem;
    width: 20rem;
}

.close-sidebar {
    width: 2rem;
    height: 2rem;
}

/* <!-- ==================END NAVBAR============================== --> */
/* <!-- ==================START HERO SECTION====================== --> */
#hero-section .hero-text-header {
    letter-spacing: -2px;
    font-size: 80px;
    font-weight: 800;
    text-align: right;
    padding-top: 90px;
}

#hero-section .hero-image-container {
    display: block;
    min-width: 120px;
}

/* Media Query for Mobile Devices */
@media screen and (min-width: 0px) and (max-width: 480px) {
    #hero-section .hero-text-header {
        font-size: 8vw;
        padding-top: 50px;
    }
}

/* Media Query for tablet Devices */
@media screen and (min-width: 768px) and (max-width: 992px) {
    #hero-section .hero-text-header {
        font-size: 7vw;
        padding-top: 50px;
    }
}

/* <!-- ==================END HERO SECTION============================ --> */

/* <!-- ==================START GALLERY SECTION====================== --> */

.item,
.half-item {
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
}

.item .item-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#gallery-section .font-number {
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    text-align: right;
}

/* Media Query for Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 480px) {

    .item,
    .half-item {
        height: 25rem;
    }
}

/* <!-- ==================END GALLERY SECTION====================== --> */

/* <!-- ==================START ABOUT SECTION====================== --> */
#about-section .about-image-container {
    width: 552px;
    height: 452px;
}

#about-section .about-image-container img {
    border-radius: 20px;
}

#about-section .about-right-box {
    position: relative;
    bottom: 320px;
    left: 60px;
    overflow: hidden;
    width: 185px;
    height: 119px;
    border-radius: 15px;
}

#about-section .about-left-box {
    position: relative;
    bottom: 320px;
    right: 350px;
    overflow: hidden;
    border-radius: 15px;
    width: 235px;
    height: 122px;
}

/* Media Query for Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
    #about-section .about-image-container {
        width: 350px;
        height: 350px;
        margin: auto;
    }

    #about-section .section-header {
        font-size: 3rem;
    }
}

/* <!-- ==================END ABOUT SECTION========================= --> */

/* <!-- ==================START WORKING SECTION====================== --> */
#working-section .balls-number {
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    #working-section .section-header {
        font-size: 2.5rem;
    }
}

/* <!-- ==================END WORKING SECTION====================== --> */

/* <!-- ==================START CHOOSING SECTION====================== --> */
#choosing-section .slider-box .slider-item {
    height: 196px;
}

/* <!-- ==================END CHOOSING SECTION====================== --> */

/* <!-- ==================START CLIENTS SECTION====================== --> */
.swiper {
    width: 600px;
    height: 300px;
}

/* <!-- ==================END CLIENTS SECTION====================== --> */

/* <!-- ==================START QUESTION SECTION====================== --> */
#questions .accordion {
    border: none;

}

#questions .accordion-item {
    box-shadow: 5px 5px 20px 0px #0000000D;
    /* border-radius: 15px;     */
    border: 1px solid #DDDDDD;
}

#questions .accordion-button {
    text-align: right;
}

#questions .accordion-button::after {
    margin-left: 0;
    margin-right: auto;
    font-weight: bolder;
}

.accordion-item {
    background-color: #81D0FF;
    color: var(--text-white-color);
}

.accordion-button:not(.collapsed) {
    background-color: #81D0FF;
    color: var(--text-white-color);
}

.accordion-button:not(.collapsed)::after {
    color: var(--text-white-color);

}
/* <!-- ==================START QUESTION SECTION====================== --> */


/* <!-- ==================START CONTACT SECTION====================== --> */

#contact-section .section-header {
    font-size: 50px;
    font-family: Droid Arabic Kufi;
}

#contact-section .contact-dark-blue-text {
    font-size: 20px;
    font-family: Droid Arabic Kufi;
    line-height: 30px;
}

#contact-section .contact-section-header {
    font-family: Droid Arabic Kufi;
    font-size: 33px;
    font-weight: 700;
    color: var(--blue-color);
}

#contact-section input {
    font-family: Droid Arabic Kufi;
}

/* <!-- ==================END CONTACT SECTION====================== --> */