#tranding-section {
    height: 750px;
}

.tranding-slider {
    height: 34.375rem;
    padding: 2rem 0;
    position: relative;
}

.tranding-item {
    position: relative;
    width: 23.125rem;
    height: 26.25rem;
    border-radius: var(--main-border-radius-shape);
    overflow: hidden;
}

.tranding-slide-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.tranding-slide-content .food-price {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.tranding-slide-content .tranding-slide-content-bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.tranding-slider-control {
    position: relative;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tranding-slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

.rtl .tranding-slider-control .swiper-button-next {
    right: 58% !important;
    transform: scaleX(-1) !important;
}

.rtl .tranding-slider-control .swiper-button-prev {
    right: 40%;
    transform: scaleX(-1);
}

.tranding-slider-control .swiper-button-prev {
    left: 42%;
    transform: translateX(-42%);
}


.tranding-slider-control .slider-arrow::after {
    content: '';
}

.tranding-slider-control .swiper-pagination {
    position: relative;
    width: 7rem;
    bottom: 0rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--text-main-color);
}


@media screen and (min-width: 0px) and (max-width: 900px) {
    .tranding-slider-control .swiper-button-prev {
        left: 25% !important;
    }

    .tranding-slider-control .swiper-button-next {
        left: 75% !important;
        transform: translateX(-75%) !important;
    }

    .rtl .tranding-slider-control .swiper-button-prev {
        right: 22% !important;
    }

    .rtl .tranding-slider-control .swiper-button-next {
        right: 75% !important;
    }
}