:root {
    --text-main-color: #36AAF0;
    --bg-main-color: #36AAF0;
    --text-green-color: #09C131;
    --grey-100: #9E9E9E;

    --text-second-color: #7c1dc9;
    --bg-second-color: #fdf8f8;
    --text-white-color: #fff;
    --bg-white-color: #fff;
    --bg-dark-color: #0b121f;
    --text-gray-light: #f6f3ff;
    --text-gray-color: #505050;
    --bg-gray-color: #f2f4f7;
    --text-secondary-color: #FF375E;
    --bg-secondary-color: #8c95a342;
    --text-second-color: #cdf0ff;
    /* --bg-second-color: #cdf0ff; */
    --text-dark-color: #111;
    --bg-dark-color: #111;
    --text-white-color: #fff;
    --bg-white-color: #fff;
    --grey-900: #101010;
    --grey-700: #333333;
    --grey-400: #999999;
    --bg-input-color: #F2F7FA;
    --border-input-color: #F2F7FA;
    --text-desc-color: #8C95A3;
    --light-blue: #1071b821;
    --semi-light: #77a23b21;
    --light-warning: #f9bc6121;
    --light-pink: #f370701a;
    --semi-light-warning: #f2ca5a21;
    --light-green: #3ba28321;
    --light-gray: #8c95a321;
    --bg-light-danger: #e5555530;
    --bg-light-gray: #8c95a330;
    --text-danger-color: #E55555;
    --border-input-radius: 0.813rem;
    --border-radius-card: 20px;
    --main-border-radius-shape: 1.5625rem;
    --border-color: #8c95a399;
    --border-grey-color: #eefe;
    --border-grey-hover-color: #fff9;
    --rating-color: #F7DB32;
    ;

}