:root {
    --text-main-color: #36AAF0;
    --bg-main-color: #36AAF0;
    --text-dark-blue: #1071B8;
    --blue-color: #199EEE;
    --bg-light-blue: #EDF8FE;
    --text-green-color: #09C131;
    --grey-100: #9E9E9E;
    --text-gray-color: #505050;
    --text-white-color: #fff;
    --bg-white-color: #fff;
    --bg-dark-color: #111;
    --text-dark-color: #111;
    --main-border-radius-shape: 1.5625rem;
    --light-grey-color: #8c95a3;
}